body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    color: #000000; /* Changed to black */
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

header {
    backdrop-filter: blur(15px);
    color: #000000; /* Changed to black */
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        margin: 0;
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

    nav ul li {
        margin-left: 2rem;
    }

        nav ul li a {
            color: #000000; /* Changed to black */
            text-decoration: none;
            font-weight: bold;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

main {
    flex: 1;
    padding: 2rem 1rem;
    position: relative;
    z-index: 1;
}

.search-card {
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    color: #000000; /* Changed to black */
    margin: 3% 0;
}

    .search-card:hover{
        background-color: #000000;
        transform: scale(1.01);
        box-shadow: 0 0 40px rgb(255 255 255 / 30%);
        color: #FFFFFF;
    }

    .search-card i {
        color: #000000; /* Changed to black */
    }

    .search-card:hover i {
        color: white; /* Change icon color to white on hover */
    }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    padding: 2rem;
    color: #000000; /* Changed to black */
}

h2 {
    margin-top: 0;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
    color: #000000; /* Changed to black */
}

form {
    margin: 1rem 0;
}

    form input,
    form select,
    form button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid #007bff;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #000000; /* Changed to black */
    }

    form button {
        background-color: transparent;
        color: #000000; /* Changed to black */
        border: 0.2em solid #007bff;
        cursor: pointer;
        font-size: 1rem;
    }

        form button:hover {
            background-color: #007bff;
            color: #ffffff;
        }

.form-control {
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000000; /* Changed to black */
}

    .form-control:focus {
        border-color: #0056b3;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }

.profile-icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #000000; /* Changed to black */
}

i.fas.fa-user-circle.profile-icon {
    margin-right: 5px;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 5px;
    color: #000000; /* Changed to black */
}
